.data1{
    background-color: #F3F3F3;
}
.data2{
    position: absolute;
    background-color: #F3F3F3;
}
.data3{
    position:sticky;
    background-color: #F3F3F3;
    left: 70px;
}
.jarak{
    position: relative;
    left: 15px;
}
.judul{
    position: relative;
    left: 70px;
    color: #4F4F4F;
    font-size: 40px;
}
