.data1{
    background-color: #F3F3F3;
}
.data2{
    position: absolute;
    background-color: #F3F3F3;
}
.data3{
    position:absolute;
    background-color: #F3F3F3;
    left: 332px;
}
.jarak{
    position: relative;
    left: 15px;
    color: rgba(0, 49, 123, 1);
    font-size: 20px;

    
}
.judul{
    position: relative;
    left: 60px;
    color: #4F4F4F;
    font-size: 40px;
}

.icon1{
    position: relative;
    top: 10px;
}