.data1{
    background-color: #F3F3F3;
}
.data2{
    position: absolute;
    background-color: #F3F3F3;
}
.data3{
    position:absolute;
    background-color: #F3F3F3;
    left: 105px;
}
.jarak{
    position: relative;
    left: 15px;
    color: rgba(0, 49, 123, 1);
    ;
}

.Caret{
    position: absolute;
    bottom: -7px;
}