.siderLayout{
    background-color: #00317B !important;
}
.textLogo{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}