.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.ant-input {
  height: 50px;
  font-size: 16px;
  font-family: "Poppins";
}
.ant-modal-content {
  font-family: "Poppins", sans-serif;
}

.ant-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-modal-footer {
  display: flex;
  justify-content: center;
}

.ant-modal-footer .ant-btn {
  margin: 0 8px;
}

.custom-modal p {
  width: 500px;
}

.SuccessText{
  color: #33DF3A;
  font-size: 25px;
  margin-block: 10px;
}

.btnSuccess{
  width: 500px;
  background-color: #33DF3A;
  height: 40px;
  font-size: 18px;
}
.btnSuccess:hover{
  width: 500px;
  background-color: #16b11b !important;
  height: 40px;
  font-size: 18px;
}

.btnFailed{
  width: 500px;
  background-color: #F15757;
  height: 40px;
  font-size: 18px;
}
.btnFailed:hover{
  width: 500px;
  background-color: #d63f3f !important;
  height: 40px;
  font-size: 18px;
}

.confirm-button {
  width: 500px;
  height: 50px;
  background-color: #52c41a;
  border-color: #52c41a;
  font-size: 20px;
}

.confirm-button:hover,
.confirm-button:focus {
  background-color: #389e0d;
  border-color: #389e0d;
}

.try-again-button {
  width: 600px;
  height: 50px;
  background-color: #f5222d;
  border-color: #f5222d;
  font-size: 20px;
}

.try-again-button:hover,
.try-again-button:focus {
  background-color: #cf1322;
  border-color: #cf1322;
}

.modal-content {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Poppins";
}