.header-container{
    background-color: #264ECA;
    padding-inline: 250px;
    position: relative;
    height: auto;
    padding-block: 10px;
}
.container-img {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100px;
}
.logo-alta{
    text-align: center;
    margin-left: 15px;
    width: 35px;
}
.text-alta{
    width: 65px;
}

.container-img img {
    margin-bottom: 10px;
    display: inline-block;
}
.list-container {
    text-align: center;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    background-color: #264ECA;
}
.logo-alta{
    width: 45px;
}
.list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.list li {
    margin-left: 20px;
}
.list li a {
    color: white;
}